%form{:onsubmit => "return false;"}
  .input-append.search_gs
    %input#search_gs_input.appendedInput{:type => "text", :placeholder => (t :search_gs)}
    %button#search_gs_btn.btn.btn-success{:type => "button"}
      %i.icon-search.icon-white
  #exact_match_div
    Exact phrase match
    %input#exact_match{:type => "checkbox"}
      
.search_gs_results
.paging.paging_bottom
  #paging_gs_results
  %form
    #rows_div
      =  "Rows Per Page:"
      %select.rowsPerPage.btn{:name => 'rowsPerPage'}
        %option{:value => 10} 10
        %option{:value => 20} 20