<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h1><%= (t 'email_deliver.message.invitation.header').html_safe %></h1>
<p><%= (t 'email_deliver.message.invitation.par_one').gsub('%username%', @current_user.username).gsub('%project_title%', @project.title).html_safe %></p>
<p><%= (t 'email_deliver.message.invitation.par_two').html_safe %></p>
</body>