<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h1>Project invitation</h1>
<p><%= "#{@current_user.username} invited you to participate in \"#{@project.title}\"." %></p>
<p>You may visit <a href="https://research.org.gr">ResearchGr</a> to view your invitation(s).</p>
</body>