<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
    <h1><%= (t 'email.message.welcome.header').gsub('%username%', @user.username).html_safe %></h1>
    <p><%= (t 'email.message.welcome.par_one').gsub('%url%', @url).html_safe %></p>
    <p><%= (t 'email.message.welcome.par_two').html_safe %></p>
</body>