<div class="invite-user col-md-12 collapse-group">
  <button type="button" id="invite-user-btn" class="btn btn-xs btn-info"><%= (t :invite_user) %></button>

  <div id="invite-user-div">
      <form id="invite-user-form" class="form-horizontal" onsubmit="return false;">
        <div class="form-group">
          <label for="user-email" class="col-md-5 control-label">User email</label> <!-- translate -->
          <div class="col-md-7">
            <input type="email" class="form-control" id="user-email" name="invitation[email]" placeholder="Search user by email"> <!-- translate -->
          </div>
        </div>
        <div class="form-group">
          <label for="user-profile" class="col-md-5 control-label">User profile</label> <!-- translate -->
          <div class="col-md-7">
            <select class="form-control" id="user-profile" name="invitation[profile]">
              <option value="1"><%= (t :owner) %></option>
              <option value="2"><%= (t :collaborator) %></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-8 col-md-4">
            <button type="submit" class="btn btn-sm btn-success"><%= (t :send) %></button>
          </div>
        </div>
      </form>
  </div>

  <script type="text/javascript">
      populateAutocompleteUsers($('#user-email'));
  </script>
</div>