/*
@mixin width-transition($seconds) {
  -webkit-transition: width $seconds ease-all;
  -moz-transition: width $seconds ease-all;
  -o-transition: width $seconds ease-all;
  transition: width $seconds ease-all;
}
*/