/**
 * Copyright 2015 Kazantzis Lazaros
 */

// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */
.projects_table, .project_files_table {
	transition: width 0.6s;
	-webkit-transition: width 0.6s;
	-moz-transition: width 0.6s;
	-o-transition: width 0.6s;
}

.projects_table, .project_files_table table {
  margin: 20px 0px !important;
}

.project_files_table div.col-md-12, p.citation-text, div.citation-button {
  padding-left: 0px;
  padding-right: 0px;
}

.project_files_table p.citation-text {
  margin-bottom: 20px;
}

.project_files_table table caption {
  color: #333;
  font-size: large;
  font-weight: bold;
}

div.citations-header {
  color: #333;
  font-size: large;
  font-weight: bold;
  margin: 20px 0px !important;
}

div.citations-body {
  margin-bottom: 20px;
}

.projects_table, .project_files_table tr th, td {
  padding: 6px !important;
}

.projects_table, .project_files_table tr th.center, td.center {
  vertical-align: middle !important;
}

.project_files_table table thead tr th {
  white-space: nowrap;
}

.projects_table table tbody tr {
  cursor: pointer;
}

.project_files_table table tbody tr td:first-child {
  white-space: nowrap;
}

.project_files_table table tbody tr .pr_file, .s_file {
  cursor: pointer;
}

.search_div {
  padding: 0px;
  margin-top: 20px;
  border-top: 1px solid #999999;
  transition: width 0.6s;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;

  #select-source-div {
    padding-left: 0px;
  }

  #opensearch-listset {
    display: none;
    padding: 20px 25px;
  }
}

#exact_match_div {
  padding: 0px !important;
}

#exact_match_div > .checkbox > label {
  padding-left: 0px;
  padding-right: 15px;
}

#exact_match {
    margin-top: 3px;
	margin-left: 4px;
}

.create_project {
	color: #FFF !important;
}

.search_gs_results {
  padding: 0px;
}

.search_gs {
	@media screen and (max-width: 767px) {
		margin-top: 10px;
	}
}

#search_gs_form {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;

  p.help-block {
    display: none;
  }
}

#search_gs_form > .form-group {
  padding: 0px !important;
}

#rows_div {
	display: none;
	margin-top: 10px;
	text-align: right;
}

#search_gs_input {
	transition: width 0.4s;
	-webkit-transition: width 0.4s;
	-moz-transition: width 0.4s;
	-o-transition: width 0.4s;
}

#search_gs_more {
  color: #3c763d;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

#search_more_form label {
  text-align: left;
  font-weight: normal;
}

#search_gs_btn {
  cursor: pointer;
  min-width: 60px;
}

.gs_ggs {
	float: right;
	margin-left: 16px;
	line-height: 20px;
}

.gs_ggsS {
	font-size: medium;
}

.gs_ggs div a{
	margin-right: 0px !important;
}

.gs_ggs button, .gs_mor, .gs_nvi, .gs_svm, .gs_ggsL, .gs_rt .gs_ct2 {
	display: none;
}

.gs_r {
	margin-top: 20px;
}

.gs_rt {
	margin-bottom: 4px !important;
	line-height: 18px;
	color: #0077AA;
	font-size: x-small;
	font-weight: bold;
}

.gs_rt a {
	color: #0077AA !important;
	font-size: medium;
	font-weight: normal;
	text-decoration: underline;
}

.gs_rs {
	font-size: small;
	font-weight: normal;
}

.gs_fl a {
	color: #0088CC !important;
	font-size: small;
	font-weight: normal;
}

.gs_fl a:hover, .gs_fl a:hover {
	text-decoration: none;
}

.gs_a {
	color: #009933;
	font-weight: normal;
}

.gs_a a {
	color: #009933 !important;
	text-decoration: underline;
}

.gs_fl a {
	margin-right: 16px;
}

.paging_bottom {
  padding: 0px;
  margin: 20px 0px;
}

#paging_gs_results {
	float: left;
	margin-top: 6px;
}

#rows_div {
	font-size: small;
}

#rows_div .rowsPerPage{
	width: 46px;
	height: 25px;
	font-size: 12px;
	padding: 3px 4px 3px 0px;
}

.paging button {
	margin: 0px 1px;
}

.pdf_modal > .modal-dialog {
	width: 950px;
	height: 998px;
	overflow-y: auto !important;
}

.pdf_modal .modal-body {
	text-align: center;
	height: 940px;
	max-height: 950px !important;
	overflow-y: auto !important;
}

/* show */

.left-div {
  padding: 0px;
  margin-top: 20px;
  transition: width 0.6s;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;
}

.left-div > h3 {
  margin-top: 0px;
}

.right-div {
  @media screen and (min-width: 992px) {
    padding-right: 0px;
  }
  @media screen and (max-width: 991px) {
    padding-left: 0px;
  }

  margin-top: 20px;
  transition: width 0.6s;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;
}

.project_title {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 26px;
}

#invite-user-div {
  display: none;
}

#invite-user-btn {
  margin-bottom: 8px;
}

.invite-user {
  @media screen and (min-width: 992px) {
    text-align: right;
  }
  @media screen and (max-width: 991px) {
    padding-left: 0px;
    margin-top: 10px;
  }
}

#invite-user-form {
  margin-bottom: 10px;
}

.project_updated {
	font-size: 12px;
	font-weight: normal;
	color: #999 !important;
}

.project_description {
  margin-bottom: 12px;
}

#upload_form {
	float: right;
}

.no-project-files {
  margin: 40px 0px;
  font-weight: bold;
}

#searchMoreModal .form-group {
  margin-bottom: 4px;
}

#searchMoreModal .help-block {
  margin: 4px 0px;
}

#upload_form {
  div.pull-left {
    margin-right: 20px;
  }

  div#add-link-fields {
    display: none;
    padding: 0px;

    div:first-child {
      padding-right: 0px;
    }
  }

  #link_btn:hover {
    text-decoration: none;
  }

  #clear-file {
    display: none;
    color: #337ab7;
    text-align: right;
    cursor: pointer;
    margin-top: 4px;
  }
}

#uploading-file {
  color: #5cb85c;
  text-align: right;
  margin-top: 4px;
}