// Place all the styles related to the ProjectFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_file {
  padding-left: 0px !important;
}

.project_file > embed {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.citation {
  clear: both;
}

.citation-type {
	font-weight: bold;
	color: #666;
}

.citation-body {
	margin-bottom: 20px;
}